<div class="col-md-7">
    <label class="control-label" for="log">The system work</label>
    <textarea id="log" rows="20" cols="55" readonly></textarea>
    <div class="form-group output">
        <label class="control-label" for="output-select-id">
            The run output
        </label>
        <div>
            <select class="form-control" id="output-select-id"
                    name="output-select">
                        <option selected>0</option>
            </select>
        </div>
    </div>
    <div id="output-block" class="output"></div>
</div>